<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EquimarFac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="EquimarFac.Properties.Settings.EquimarFacturacionConnectionString"
   connectionString="Data Source=LAPTOP-BDJKF7LU;Initial Catalog=EquimarFacturacion;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<applicationSettings>
		<EquimarFac.Properties.Settings>
   <setting name="EquimarFac_FelWebService_ConexionRemota32" serializeAs="String">
    <value>https://www.fel.mx/ConexionRemotaCFDI32/ConexionRemota32.asmx</value>
   </setting>
   <setting name="EquimarFac_FelWebService2_ConexionRemota" serializeAs="String">
    <value>http://www.fel.mx/ConexionRemotaCFDI32/ConexionRemota.asmx</value>
   </setting>
  </EquimarFac.Properties.Settings>
	</applicationSettings>
</configuration>